.item {
	background: rgba(28, 28, 33, 1);
	border-radius: 40px;
	margin-bottom: 16px;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item ul {
	height: 70vh;
	overflow-y: auto;
}

.name {
	width: 80%;
	max-width: 30vw;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
	min-height: 20px;
}

.details {
	display: flex;
	justify-content: space-between;

	height: 80px;

	overflow: hidden;
}

.ingredients {
	display: flex;
	margin: 0;
	padding-left: 0;
}

.ingredient {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 64px;
	height: 64px;

	list-style-type: none;

	margin-left: -16px;

	border: 2px solid transparent;
	border-radius: 100px;
	background: radial-gradient(
		circle,
		rgba(128, 26, 178, 1),
		rgba(76, 76, 255, 1)
	);

	mask-composite: exclude;

	cursor: pointer;

	position: relative;
	z-index: calc(10 - var(--i));
}

.ingredient:first-child {
	margin-left: 0;
}

.ingredientContainer {
	width: 96%;
	height: 96%;
	background: rgba(19, 19, 22, 1);
	border-radius: 100px;
}

.ingredientContainer img {
	filter: drop-shadow(0 0 5px #4c4cff);
	width: 140%;
	height: 140%;
	margin: -20%;
	object-fit: contain;
}

.blured img {
	opacity: 0.6;
}

.price {
	display: flex;
	align-items: center;
}

.more {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
