.section {
	flex-direction: column;
	float: right;
	justify-content: center;
	padding-inline-start: 0px;
}
.bunList {
	display: flex;
	flex-direction: column;
}
.list {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	max-height: 400px;
}

.emptyList {
	display: flex;
	flex-direction: column;
}
