
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
}
// .modal_close {
// 	position: absolute;
// 	top: 60px;
// 	right: 40px;
// 	cursor: pointer;
// }