.header {
	background: '#1d1c21';
	//	width:100%;
	min-width: 2000px;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;
}
.nav {
	display: flex;
	min-width: 380px;
}

.link {
	display: flex;
	align-items: center;
	color: #8585ad;
}
.linkActive {
	display: flex;
	align-items: center;
	color: #ffffff;
}
